*.pages
*.DS_Store
*.vscode
build/*
!readme.md
*.pbm
*.png
*.tiff

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp

